.homepage {
  background-image: url('../assets/Background-Home.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-bottom: 40px;

  .start-btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }

}