
.bags-btn-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.selected{
    border: 2px solid #CCCCCC;
}