.colorscontainer {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr;
  gap: 12px;
  justify-content: center;
  width: 100vw;
  margin-top: 30px;
  margin-bottom: 30px;


}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7,
.color8,
.color9,
.color10,
.color11,
.color12 {
  background-color: #94B8D9;
  border-radius: 50%;
  color: transparent;
  width: 106px;
  height: 106px;
  overflow: wrap;
  margin-left: 10px;
  display: flex;
  justify-content: center;


  img {
    display: none;

  }
  .selected-color {
  display: block;
  background-color: #c2d8ee62;
  border: 1px solid #9da9b7;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 20px;
}


}

.color-button {
  background-color: transparent;
  border-style: none;
}


.color2 {
  background-color: #ECEE94;
}

.color3 {
  background-color: #BF0D1D;

}

.color4 {
  background-color: #4F230B;
}


.color5 {
  background-color: #0F2F18;
}

.color6 {
  background-color: #D0BA91;
}

.color7 {
  background-color: #BBAACC;
}

.color8 {
  background-color: #000000;
}


.color9 {
  background-color: #FAFAFA;
  border: 1px solid black;
}

.color9:hover {
  border: none;
}

.color10 {
  background-color: #FFE2F3;
}

.color11 {
  background-color: #523C7F;
}

.color12 {
  background-color: #87A35C;
}


.color1:hover, .color2:hover, .color3:hover, .color4:hover, .color5:hover, .color6:hover, .color7:hover, .color8:hover, .color9:hover, .color10:hover, .color11:hover, .color12:hover {
  background-color: #c2d8ee62;
  cursor: pointer;
}
