.step3 {
  border-bottom: 1px solid rgba(195, 195, 195, 0.537);
  border-top: 1px solid rgba(195, 195, 195, 0.537);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 8px;

  h4 {
    font-size: 15px;
    font-weight: 300;
  }
}

.nametag {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 300px;
    padding-bottom: 50px;
  }
  .product-overview {
    padding: 15px;
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 280px;
    border-style: none;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 18px;
  }

  .product-overview:hover{
    cursor: pointer;
    background-color: rgb(46, 46, 46);
  }
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input {
    padding: 20px;
    width: 200px;
    border: 1px solid rgba(104, 104, 104, 0.537);
    font-size: 20px;
  }

  .price-check {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 13px;
  }

  .check {
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    background-color: transparent;
}
}
