.navbar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(220, 220, 220, 0.6);
  padding: 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.357);

  img {
    width: 150px;
  }
}

.icons {
  list-style: none;
  display: flex;
  gap: 20px;


  li img {
    padding-top: 2px;
    width: 22px;

  }

  .search-icon {
    padding-top: 2px;
  }
}

.pop-up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(233, 233, 233, 0.658);
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h2 {
    font-weight: 800;
    font-size: 30px;
    padding: 20px;
    text-align: center;
  }

  button {
    background-color: transparent;
    border: 1px black solid;
    font-size: 18px;
    padding: 10px 15px;
    width: 40%;
    margin: 30px;
    color: black;

  }

}

.show {
  display: flex;
}