@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
/*
FONTS:
- HEADINGS, LINKS, BUTTONS: font-family: "Jost", sans-serif;
- DESCRIPTIONS, PARAGRAPHS: font-family: 'Segoe UI', sans-serif;
 */

/* COLORS:
- MAIN-BACKGROUND COLOR: #FAFAFA;
- FONT-COLOR: #00000 (BLACK);
- ADDDITIONAL-COLORS: #CCCCCC (PEARL), #FFFFF  (WHITE);

 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

h1,
h2,
button,
input {
  font-family: "Jost", sans-serif;
  font-size: 18px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: black;
}

p,
small, strong, a {
  font-family: "Segoe UI", sans-serif;
  color: black;
  text-decoration: none;
}

small {
  color: rgb(90, 90, 90);
  ;
}

.header {
  border-bottom: 1px solid rgba(195, 195, 195, 0.537);
  border-top: 1px solid rgba(195, 195, 195, 0.537);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100vw;

}

.btn {
  padding: 15px;
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 280px;
  border-style: none;
  font-size: 18px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(46, 46, 46);
}

.input {
  padding: 20px;
  width: 200px;
  border: 1px solid rgba(104, 104, 104, 0.537);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}